// Generic sizes
$s-small = 4px
$s-default = 8px
$s-medium-1 = 14px
$s-medium-2 = 16px
$s-medium-3 = 18px
$s-large-1 = 24px
$s-large-2 = 28px
$s-large-3 = 32px

// Media queries
$mobile = 320px
$tablet = 768px
$desktop = 1024px